
html {
    scroll-behavior: smooth; 
    scroll-padding-top: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
}

.navbar {
    background-image: url('sky.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background: linear-gradient(to right, #2f65e3, #040b53ae);
    transform: scale(1.2);
}

.container {
    color: white;
    width: 85%;
    max-width: 1100px;
    margin: 3rem auto;
    padding: 2rem;
    background-image: url('blue.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.about-container {
    color: white;
    width: 85%;
    max-width: 1100px;
    margin: 3rem auto;
    padding: 5rem;
    background-image: url('blue.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;   
    align-items: center;              
    gap: 100px;  
}

.about-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.about-text {
    flex: 1;
    color: white;
}

.content-area {
    background-image: url('sky.jpg'); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
}

.main {
    background-image: url('backdrop.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 8rem 1rem;
}

.main h1 {
    color: white;
    font-size: 3rem;
}

.profile-img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    margin: 0 auto 1.5rem auto;
    border: 5px solid white;
    flex-shrink: 0;
}

.profile-img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 1rem;
    justify-content: center;    
}

.skill-item {
    background: linear-gradient(to right, #66a6ff, #89f7fe);
    padding: 55px 55px;
    border-radius: 10px;
    border-left: 5px solid pink;
    font-weight: bold;
    color: black
}

.skill-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.project-card {
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.project-card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.project-card:hover {
    transform: scale(1.06);
    transition: transform 0.3s;
}

.project-link {
    color: rgb(121, 190, 242);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.project-link:hover {
    color: #ffaa00;
}

.social-links {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 1rem;
    justify-content: center;
}

.social-links a {
    margin-right: 20px;
}

.links:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004d99;
    color: white;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .container {
        width: 95%;
        margin: 1.5rem auto;
    }

}
